<footer class="site-footer">
  <div class="footer-main">
    <div class="footer-container">
      <div class="footer-brand">
        <img src="images/lazo-footer.png" alt="" class="footer-shape" aria-hidden="true" />

        <div class="footer-logo">
          <img src="icons/logotipo-cospud.svg" alt="COSPUD" />
        </div>
      </div>
      <div class="footer-info">
        <p>
          Maipú 242, Despeñaderos, Cba.<br />
          Robocosp | 3547 612027
        </p>

        <div class="footer-social">
          <a href="#" aria-label="Facebook">
            <img src="icons/facebook.svg" alt="Facebook" />
          </a>
          <a href="#" aria-label="Instagram">
            <img src="icons/instagram.svg" alt="Instagram" />
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-bottom">
    <p>Diseñado por FBNet | Estudio Creativo.</p>
  </div>
</footer>