<footer class="site-footer">
  <div class="footer-main">
    <img src="images/lazo-footer.webp" alt="" class="footer-shape" aria-hidden="true" loading="eager" decoding="async"
      fetchpriority=high />

    <div class="footer-container">
      <div class="footer-brand">
        <div class="footer-logo">
          <img src="icons/logotipo-cospud.svg" alt="COSPUD" />
        </div>
      </div>

      <div class="footer-info">
        <p>
          Maipú 242, Despeñaderos, Cba.<br />
          Robocosp | 3547 612027
        </p>

        <div class="footer-social">
          <a href="https://www.facebook.com/cospud.info" target="_blank" aria-label="Facebook">
            <img src="icons/facebook.svg" alt="Facebook" loading="eager" decoding="async" fetchpriority=high />
          </a>
          <a href="https://www.instagram.com/cospud.ltda" target="_blank" aria-label="Instagram">
            <img src="icons/instagram.svg" alt="Instagram" loading="eager" decoding="async" fetchpriority=high />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="footer-bottom">
    <a target="_blank" href="https://fbnet.com.ar"><span>Diseñado por FBNet | Estudio Creativo.</span></a>
  </div> -->
</footer>