<section class="payment-methods">
    <div class="payment-card">
        <div class="payment-header">
            <img src="icons/medios-pago.svg" alt="Medios de Pago" aria-hidden="true" />
            <h2>Medios de Pago</h2>
        </div>
        <div class="payment-content">
            <div class="payment-column">
                <h4>Efectivo en la Cooperativa.</h4>
                <p>Tarjeta de crédito | débito.</p>
            </div>
            <!-- <div class="payment-column payment-column--bank">
                <span class="payment-label">Transferencia bancaria</span>

                <span class="payment-separator">|</span>

                <span class="payment-link">
                    Datos de la cuenta<br />
                    para la transferencia.
                </span>
            </div> -->
            <div class="payment-column payment-column--bank">
                <span class="payment-label">Transferencia bancaria</span>
                <span class="payment-separator" aria-hidden="true">|</span>

                <div class="payment-bank-data">
                    <span>Alias: COSPUD</span>

                    <a
                      class="payment-mail"
                      href="mailto:tramitescospud@gmail.com"
                      (click)="copyEmail($event)"
                    >
                    Enviar comprobante a: <strong>tramitescospud&#64;gmail.com</strong>
                    </a>
                  </div>
            </div>

        </div>
        <div class="payment-footer">
            <p>
                <span>Consultar</span> medio específico antes de abonar el servicio.
            </p>
        </div>
    </div>
</section>