@use '../../../../styles/variables' as *;

.service-card {
  min-height: 96px;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
}

/* Link ocupa toda la card */
.service-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}

/* Icon */
.icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

/* Texto */
.title {
  font-weight: 600;
  font-size: 0.95rem;
  white-space: nowrap;
}

/* Hover desktop */
@media (hover: hover) {
  .service-card:hover {
    filter: brightness(1.05);
  }
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
  .service-card {
    min-height: 88px;
  }

  .service-link {
    flex-direction: column;
    gap: 6px;
    text-align: center;
  }

  .icon {
    width: 28px;
    height: 28px;
  }

  .title {
    // font-size: 0.9rem;
    // white-space: normal;
    display: none;
  }
}
