<!-- <header class="header">
  <div class="logo">
    <a routerLink="/" aria-label="Ir al inicio">
      <img src="icons/cospud-logo.svg" alt="COSPUD" />
    </a>
  </div>
  <input type="checkbox" id="menu-toggle" class="menu-toggle" #menuToggle />
  <label for="menu-toggle" class="menu-btn" role="button" aria-label="Abrir menú" aria-controls="main-navigation"
    tabindex="0">
    <img src="icons/menu.svg" alt="" aria-hidden="true" class="menu-icon" />
  </label>
  <nav class="nav" id="main-navigation" role="navigation">
    <a routerLink="/somos" routerLinkActive="active" (click)="menuToggle.checked = false">
      Somos Voz
    </a>

    <a routerLink="/trabaja-con-nosotros" routerLinkActive="active" (click)="menuToggle.checked = false">
      Trabajá con nosotros
    </a>
    <a routerLink="/servicios" routerLinkActive="active" (click)="menuToggle.checked = false">
      Servicios
    </a>
    <a href="#" class="autogestion" (click)="scrollToSection('autogestion', $event); menuToggle.checked = false">
      <img src="icons/autogestion.svg" alt="Autogestion" />
      <span>Autogestión</span>
    </a>
  </nav>
</header> -->

<header class="header">
  <input type="checkbox" id="menu-toggle" class="menu-toggle" #menuToggle />
  <label for="menu-toggle" class="menu-btn" role="button" aria-label="Abrir menú">
    <img src="icons/menu.svg" alt="Menu" class="menu-icon" />
  </label>

  <div class="logo">
    <a routerLink="/" aria-label="Ir al inicio">
      <img src="icons/cospud-logo.svg" alt="COSPUD" />
    </a>
  </div>

  <div class="user-icon-mobile">
    <img src="icons/autogestion.svg" alt="Autogestión" />
  </div>

  <nav class="nav" id="main-navigation">
    <a routerLink="/somos" routerLinkActive="active" (click)="menuToggle.checked = false">Somos Voz</a>
    <a routerLink="/trabaja-con-nosotros" routerLinkActive="active" (click)="menuToggle.checked = false">Trabajá con nosotros</a>
    <a routerLink="/servicios" routerLinkActive="active" (click)="menuToggle.checked = false">Servicios</a>
    <a href="#" class="autogestion" (click)="scrollToSection('autogestion', $event); menuToggle.checked = false">
      <img src="icons/autogestion.svg" alt="Autogestion" />
      <span>Autogestión</span>
    </a>
  </nav>
</header>