<section class="complaint" aria-labelledby="complaint-title" data-bg="images/consultas-reclamos.webp">
  <div class="complaint-hero">
    <div class="complaint-hero-bg"></div>

    <img class="complaint-hero-ribbon" src="images/lazo-verde.webp" alt="" aria-hidden="true" loading="eager"
    decoding="async" fetchpriority=high />
    <h2 class="complaint-title" id="complaint-title">Consultas y reclamos</h2>
  </div>

  <div class="complaint-content-wrapper">
    <div class="complaint-content">
      <p>
        En COSPUD creemos en la importancia de escuchar a nuestra comunidad. Si tenés una consulta o reclamo,
        completá el siguiente formulario y nuestro equipo lo recibirá para darte una respuesta a la brevedad.
      </p>

      <p>
        Recordá que la respuesta a tu consulta o reclamo se realizará dentro de nuestros horarios:
        Lunes a Viernes, de 07 a 14 hs.
      </p>

      <p>Somos voz, somos COSPUD.</p>

      <a href="https://forms.gle/1kJt1kSAxuqSJUwU8 " target="_blank" rel="noopener noreferrer" class="btn-primary">
        <img src="icons/formulario.svg" alt="" aria-hidden="true" loading="eager"
        decoding="async" fetchpriority=high />
        Completá el formulario
      </a>
    </div>
  </div>
</section>