<section
  class="social-section"
  data-bg="images/redes.webp"
>
  <div class="social-hero">
    <div class="social-bg"></div>

    <div class="social-content">
      <h3><span>Seguinos en nuestras</span><br />redes sociales.</h3>

      <div class="social-icons">
        <a href="#" aria-label="Facebook">
          <img src="icons/facebook.svg" alt="Facebook" loading="lazy" />
        </a>
        <a href="#" aria-label="Instagram">
          <img src="icons/instagram.svg" alt="Instagram" loading="lazy" />
        </a>
      </div>

      <div class="social-dots">•••</div>
    </div>
  </div>

  <div class="social-actions">
    <div class="social-action action-support">
      <img src="icons/atencion-personalizada.svg" alt="Atención personalizada" loading="lazy" />
      <span class="text-default">Atención personalizada</span>
      <span class="text-hover">
        Para una atención personalizada<br />
        llamá al 492 062 | 492 059 <br />
        Lun a vie, de 07 a 14hs.
      </span>
    </div>

    <div class="social-action action-guard" tabindex="0">
      <img src="icons/numeros-guardia.svg" alt="Números de Guardia" loading="lazy" />
      <span class="text-default">Números de Guardia</span>
      <span class="text-hover">
        Guardia Luz 15596779<br />
        Guardia Agua 15579357<br />
        Guardia Internet 15596776 <br />
        Ambulancia 15524066 | 15574136
      </span>
    </div>

    <div class="social-action action-whatsapp">
      <img src="icons/canal-wsp.svg" alt="Canal de Whatsapp" loading="lazy" />
      <span>Sumate a nuestro <br />canal de Whatsapp</span>
    </div>
  </div>
</section>
