<section class="social-section">
  <div class="social-hero">
    <img class="social-bg" [src]="baseUrl + 'images/redes.png'" alt="" aria-hidden="true"/>
    <div class="social-content">
      <h3>Seguinos en nuestras<br />redes sociales.</h3>
      <div class="social-icons">
        <a href="#" aria-label="Facebook">
          <img src="icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="#" aria-label="Instagram">
          <img src="icons/instagram.svg" alt="Instagram" />
        </a>
      </div>
      <div class="social-dots">•••</div>
    </div>
  </div>
  <div class="social-actions">
    <div class="social-action action-support">
      <img src="icons/atencion-personalizada.svg" alt="Atención personalizada" />
      <span>Atención personalizada</span>
    </div>

    <div class="social-action action-guard" tabindex="0">
      <img src="icons/numeros-guardia.svg" alt="Números de Guardia" />
      <span class="text-default">Números de Guardia</span>
      <span class="text-hover">011-4111-3344<br/>011-4111-3345</span>
    </div>

    <div class="social-action action-whatsapp">
      <img src="icons/canal-wsp.svg" alt="Canal de Whatsapp" />
      <span>Nuestro canal de Whatsapp</span>
    </div>
  </div>
</section>