<section class="home-services" id="home">
  <app-services-grid></app-services-grid>
</section>
<app-somos-voz></app-somos-voz>
<app-quick-actions></app-quick-actions>
<section class="services-cta" id="servicios" data-bg="images/services-cta.webp">
  <div class="cta-bg"></div>

  <div class="cta-title">
    <h3>
      Conocé nuestros <strong>Servicios</strong>
    </h3>
  </div>

  <div class="cta-footer">
    <a *ngFor="let service of services" class="cta-item" [style.left.%]="service.left" [innerHTML]="service.label"
      [routerLink]="service.link"></a>
  </div>
</section>

<app-social></app-social>

<app-payment-methods></app-payment-methods>