<section class="social-widget">
    <div class="social-widget__header">
        <p>
            Sumate a <span>nuestra comunidad en redes</span> para<br />
            enterarte todas las <span>novedades</span>.
        </p>
    </div>

    <div class="social-widget__frame">
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/db1e87e13134563285667d859c079568.html" scrolling="no"
            allowtransparency="true" class="instagram-iframe" title="Instagram COSPUD"
            style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
</section>