@use '../../../styles/variables' as *;

/* =========================
   SOCIAL WIDGET
========================= */
.social-widget {
  width: 100%;
  background-color: $color-background-gray;
  padding: 48px 0px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Texto superior */
.social-widget__header {
  max-width: $max-width;
  margin-bottom: 32px;

  text-align: center;
  color: $color-text-secondary;
  font-size: $font-size-base;

  span {
    font-weight: $font-weight-semibold;
  }
}

/* Contenedor del iframe */
.social-widget__frame {
  width: 100%;
  max-width: 360px;
  background-color: $color-background;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
}

/* Iframe */
.instagram-iframe {
  width: 100%;
  height: 480px;
  border: none;
}

/* =========================
   TABLET / DESKTOP
========================= */
@media (min-width: 768px) {
  .social-widget__frame {
    max-width: 420px;
  }

  .instagram-iframe {
    height: 520px;
  }
}
